#movies {
    margin-top: 60px;
}

#movieoptions {
    gap: 10px;
    display: flex;
    flex-direction: row;
    /* border: 5px solid rgb(49, 136, 236); */
  }

.movieitems {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 40px 0 40px;
  }

.movieitem {
    width: 30%;
    justify-content: center;
    
    /* border: 5px solid rgb(49, 136, 236); */

}

#movieposter {
    /* filter: grayscale(100%) contrast(110%) brightness(80%); */
    /* image-rendering: pixelated; */
    width: 100px;
    height: 150px;
}

/* #moviecontent {
    
 
} */

#movie-button {
    padding: 5px;
    border: 0;
    border-right: 2px solid rgb(64, 64, 64);
    border-bottom: 2px solid rgb(64, 64, 64);
}

#movie-button:active {
    border: 0;
    border-top: 2px solid rgb(64, 64, 64);
    border-left: 2px solid rgb(64, 64, 64);
}

.movieicon {
    width: 10px;
}