
.App {
  justify-content: center;
  align-items: center;
  display: flex;
}

#content {
  align-self: center;
  width: 800px;
}

.dashed-line {
  height: 1px;
  width: 100%;        
  border-top: 2px dashed black; 
}

