@import url('https://fonts.cdnfonts.com/css/hack');



body {
  margin: 0;
  font-family: 'Hack', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: 'Hack', sans-serif;
}

h1 {
  font-size: 20px;
  font-weight: 1000;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 1000;
}

h4 {
  margin: 0 0 0 0;
}

p {
  font-size: 12px;
}

.item {
  margin-bottom: 20px;
}
